<!DOCTYPE HTML>
<html lang="{{ language }}" class="{{ default_theme }}">
    <head>
        <!-- Book generated using mdBook -->
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        {{#if is_print }}
        <meta name="robots" content="noindex">
        {{/if}}
        {{#if base_url}}
        <base href="{{ base_url }}">
        {{/if}}


        <!-- Custom HTML head -->
        {{> head}}

        <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
        <meta name="description" content="{{ description }}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#ffffff" />

        {{#if favicon_svg}}
        <link rel="icon" type="image/svg+xml" href="{{ path_to_root }}favicon.svg">
        {{/if}}
        {{#if favicon_png}}
        <link rel="shortcut icon" href="{{ path_to_root }}favicon.png">
        {{/if}}
        <link rel="stylesheet" href="{{ path_to_root }}css/variables.css">
        <link rel="stylesheet" href="{{ path_to_root }}css/general.css">
        <link rel="stylesheet" href="{{ path_to_root }}css/chrome.css">
        {{#if print_enable}}
        <link rel="stylesheet" href="{{ path_to_root }}css/print.css" media="print">
        {{/if}}

        <!-- Fonts -->
        <link rel="stylesheet" href="{{ path_to_root }}FontAwesome/css/font-awesome.css">
        {{#if copy_fonts}}
        <link rel="stylesheet" href="{{ path_to_root }}fonts/fonts.css">
        {{/if}}

        <!-- Custom theme stylesheets, gets highlight-*.css also -->
        {{#each additional_css}}
        <link rel="stylesheet" href="{{ ../path_to_root }}{{ this }}">
        {{/each}}

        {{#if mathjax_support}}
        <!-- MathJax -->
        <script async type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
        {{/if}}
    </head>
    <body class="sidebar-visible no-js">
    <input type="checkbox" id="sidebar-toggle-anchor" class="hidden">
    <div id="body-container">
        <!-- Provide site root to javascript -->
        <script type="text/javascript">
            var path_to_root = "{{ path_to_root }}";
            var default_theme = window.matchMedia("(prefers-color-scheme: dark)").matches ? "{{ preferred_dark_theme }}" : "{{ default_theme }}";
        </script>

        <!-- Work around some values being stored in localStorage wrapped in quotes -->
        <script type="text/javascript">
            try {
                var theme = localStorage.getItem('mdbook-theme');
                var sidebar = localStorage.getItem('mdbook-sidebar');

                if (theme.startsWith('"') && theme.endsWith('"')) {
                    localStorage.setItem('mdbook-theme', theme.slice(1, theme.length - 1));
                }

                if (sidebar.startsWith('"') && sidebar.endsWith('"')) {
                    localStorage.setItem('mdbook-sidebar', sidebar.slice(1, sidebar.length - 1));
                }
            } catch (e) { }
        </script>

        <!-- Set the theme before any content is loaded, prevents flash -->
        <script type="text/javascript">
            var theme;
            try { theme = localStorage.getItem('mdbook-theme'); } catch(e) { }
            if (theme === null || theme === undefined) { theme = default_theme; }
            var html = document.querySelector('html');
            html.classList.remove('{{ default_theme }}')
            html.classList.add(theme);
            var body = document.querySelector('body');
            body.classList.remove('no-js')
            body.classList.add('js');
        </script>

        <!-- Hide / unhide sidebar before it is displayed -->
        <script>
            var body = document.querySelector('body');
            var sidebar = null;
            var sidebar_toggle = document.getElementById("sidebar-toggle-anchor");
            if (document.body.clientWidth >= 1080) {
                try { sidebar = localStorage.getItem('mdbook-sidebar'); } catch(e) { }
                sidebar = sidebar || 'visible';
            } else {
                sidebar = 'hidden';
            }
            sidebar_toggle.checked = sidebar === 'visible';
            body.classList.remove('sidebar-visible');
            body.classList.add("sidebar-" + sidebar);
        </script>

        {{> header}}

        <nav id="sidebar" class="sidebar" aria-label="Table of contents">
            <div class="sidebar-scrollbox">
              <div class="sidebar-contents">
                <div id="toc">
                  {{#toc}}{{/toc}}
                </div>
                <div class="spacer"></div>
                <ol class="chapter">
                    {{#if git_repository_url}}
                      <li class="chapter-item">
                        <a href="{{git_repository_url}}" title="Git repository" aria-label="Git repository">
                            <i id="git-repository-button" class="fa {{git_repository_icon}}"></i> GitHub
                        </a>
                        </li>
                    {{/if}}
                    {{#if git_repository_edit_url}}
                      <li class="chapter-item">
                        <a href="{{git_repository_edit_url}}" title="Suggest an edit" aria-label="Suggest an edit">
                            <i id="git-edit-button" class="fa fa-edit"></i> Edit this Page
                        </a>
                      </li>
                    {{/if}}
                </ol>
              </div>
            </div>
        </nav>

        <div id="sidebar-resize-handle" class="sidebar-resize-handle">
            <div class="sidebar-resize-indicator"></div>
        </div>

        <!-- Track and set sidebar scroll position -->
        <script>
            var sidebarScrollbox = document.querySelector('#sidebar .sidebar-scrollbox');
            sidebarScrollbox.addEventListener('click', function(e) {
                if (e.target.tagName === 'A') {
                    sessionStorage.setItem('sidebar-scroll', sidebarScrollbox.scrollTop);
                }
            }, { passive: true });
            var sidebarScrollTop = sessionStorage.getItem('sidebar-scroll');
            sessionStorage.removeItem('sidebar-scroll');
            if (sidebarScrollTop) {
                // preserve sidebar scroll position when navigating via links within sidebar
                sidebarScrollbox.scrollTop = sidebarScrollTop;
            } else {
                // scroll sidebar to current active section when navigating via "next/previous chapter" buttons
                var activeSection = document.querySelector('#sidebar .active');
                if (activeSection) {
                    activeSection.scrollIntoView({ block: 'center' });
                }
            }
        </script>

        <div id="menu-bar" class="menu-bar">
            <div class="menu-bar-inner">
                <label id="sidebar-toggle" class="icon-button" for="sidebar-toggle-anchor" title="Toggle Table of Contents" aria-label="Toggle Table of Contents" aria-controls="sidebar">
                    <i class="fa fa-bars"></i>
                </label>
                <button id="theme-toggle" class="icon-button" type="button" title="Change theme" aria-label="Change theme" aria-haspopup="true" aria-expanded="false" aria-controls="theme-list">
                    <i class="fa fa-paint-brush"></i>
                </button>
                <ul id="theme-list" class="theme-popup" aria-label="Themes" role="menu">
                    <li role="none"><button role="menuitem" class="theme" id="light">{{ theme_option "Light" }}</button></li>
                    <li role="none"><button role="menuitem" class="theme" id="coal">{{ theme_option "Dark" }}</button></li>
                </ul>
                {{#if search_enabled}}
                <button id="search-toggle" class="icon-button" type="button" title="Search. (Shortkey: s)" aria-label="Toggle Searchbar" aria-expanded="false" aria-keyshortcuts="S" aria-controls="searchbar">
                    <i class="fa fa-search"></i>
                </button>
                {{/if}}
            </div>
          </div>

        <div id="page-wrapper" class="page-wrapper">
          <h1 class="menu-title"></h1>
            {{#if search_enabled}}
            <div id="search-wrapper" class="hidden">
                <form id="searchbar-outer" class="searchbar-outer">
                    <input type="search" id="searchbar" name="searchbar" placeholder="Type to search..." aria-controls="searchresults-outer" aria-describedby="searchresults-header">
                </form>
                <div id="searchresults-outer" class="searchresults-outer hidden">
                    <div id="searchresults-header" class="searchresults-header"></div>
                    <ul id="searchresults">
                    </ul>
                </div>
            </div>
            {{/if}}

            <!-- Apply ARIA attributes after the sidebar and the sidebar toggle button are added to the DOM -->
            <script type="text/javascript">
                document.getElementById('sidebar-toggle').setAttribute('aria-expanded', sidebar === 'visible');
                document.getElementById('sidebar').setAttribute('aria-hidden', sidebar !== 'visible');
                Array.from(document.querySelectorAll('#sidebar a')).forEach(function(link) {
                    link.setAttribute('tabIndex', sidebar === 'visible' ? 0 : -1);
                });
            </script>

            <div id="content" class="content pt-8 pb-32 pl-[6px] pr-[45px]">
                <main>
                    {{{ content }}}
                </main>

                <nav class="nav-wrapper p-6" aria-label="Page navigation">
                    <!-- Mobile navigation buttons -->
                    {{#previous}}
                        <a rel="prev" href="{{ path_to_root }}{{link}}" class="mobile-nav-chapters previous mb-6 w-full md:w-auto" title="Previous chapter" aria-label="Previous chapter: {{title}}" aria-keyshortcuts="Left">
                            <i class="fa fa-angle-left"></i> {{title}}
                        </a>
                    {{/previous}}

                    {{#next}}
                        <a rel="next" href="{{ path_to_root }}{{link}}" class="mobile-nav-chapters next mb-6 w-full md:w-auto" title="Next chapter" aria-label="Next chapter: {{title}}" aria-keyshortcuts="Right">
                            {{title}} <i class="fa fa-angle-right"></i>
                        </a>
                    {{/next}}

                    <div style="clear: both"></div>
                </nav>
            </div>
        </div>

        <!-- Custom Footer Start -->
        <footer id="footer" class="bg-white mt-6 px-6 md:px-[10%] max-w-[100vw]">
          <div class="sm md:md flex flex-col items-center gap-f16 border-t-[2px] border-current text-black py-f48 md:gap-f48">
            <a class="w-[146px] md:w-[257px]" href="https://www.frequency.xyz" target="_blank">
                <svg viewBox="0 0 257 36" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M0 .737v34.526h6.409V24.508l12.875-5.217-.17-6.17-12.652 5.112V6.486h16.336V.737H0Zm31.163 5.744h8.587c2.788 0 5.073 1.318 5.073 4.165 0 2.846-2.285 4.214-5.073 4.214h-8.587V6.481ZM24.696.737v34.526h6.467v-8.485l20.068 8.485v-6.64L31.72 20.664h7.861c6.245 0 11.651-3.794 11.651-9.963 0-6.17-5.406-9.964-11.65-9.964H24.696Zm28.486 0v34.526h22.745v-5.798H59.591v-8.646h16.336v-5.743H59.591v-8.59h16.336V.737H53.182Zm84.011 0v23.616c0 3.533-2.73 5.954-6.408 5.954-3.679 0-6.409-2.426-6.409-5.954V.737h-6.409v23.51c0 6.957 5.741 11.753 12.823 11.753 7.082 0 12.822-4.796 12.822-11.753V.737h-6.419Zm8.365 0v34.526h22.745v-5.798h-16.337v-8.646h16.337v-5.743h-16.337v-8.59h16.337V.737h-22.745Zm45.045 0v23.3L177.224.737h-6.97v34.526h6.297V12.02l13.437 23.244h6.912V.737h-6.297Zm59.596 0-5.073 12.966L239.773.737h-7.082l15.499 34.526h6.69l-6.467-14.388L257 .793h-6.801V.737ZM84.011 17.977c0-6.745 5.8-12.283 12.992-12.283 7.193 0 12.992 5.483 12.992 12.284 0 2.16-.556 4.27-1.728 6.17l-14.439-8.435v6.85l10.146 5.8c-2.121 1.212-4.517 1.899-7.024 1.899-7.082.055-12.875-5.323-12.934-12.019v-.265M96.945 0C86.465.056 77.937 8.12 77.99 18.028 78.048 27.936 86.577 36 97.056 35.95c4.569 0 8.974-1.584 12.43-4.426l6.467 3.69v-6.591l-2.565-1.474a17.821 17.821 0 0 0 2.565-9.171C116.07 8.12 107.652.056 97.226 0h-.281Zm120.978 0c-10.479 0-19.067 8.013-19.067 17.972 0 9.958 8.476 18.027 19.009 18.027 6.074 0 11.762-2.686 15.329-7.327l-4.457-4.215c-2.174 3.689-6.356 5.954-10.814 5.849-7.357 0-12.875-5.323-12.875-12.284s5.576-12.334 12.875-12.334c4.458-.105 8.64 2.16 10.814 5.904l4.457-4.215C229.627 2.636 223.939-.05 217.923 0Z"
                    fill="currentColor"
                  />
                </svg>
              </a>
              <aside class="flex flex-col items-center text-center space-y-4 leading-none md:flex-row md:space-x-4 md:space-y-0">
                <div>
                  © 2024 Frequency Network Foundation. <span class="md:hidden">All Rights Reserved</span>
                </div>
                <div class="hidden w-[2px] self-stretch md:block bg-black"></div>
                <div class="hidden md:block">All Rights Reserved</div>
                <div class="hidden w-[2px] self-stretch md:block bg-black"></div>
                <div>
                  <a href="https://www.frequency.xyz/privacy/" target="_blank" class="block underline transition duration-[0.3s] hover:text-teal">
                    Privacy Policy</a>
                </div>
              </aside>
              <div class="flex flex-row gap-f16 text-white" aria-label="Social Links">
                <a label="X/Twitter" href="https://twitter.com/one_frequency" target="_blank" class="flex h-f32 w-f32 bg-black p-1 transition-colors duration-[0.3s] hover:bg-teal rounded">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256"><path fill="currentColor" d="M152.38 108.411 247.697 0h-22.58L142.32 94.113 76.237 0H0l99.95 142.328L0 256h22.58l87.38-99.407L179.764 256H256M30.729 16.66h34.688L225.1 240.158h-34.697" style="stroke-width:1"/></svg>
                </a>
                <a label="Discord" href="https://discord.com/invite/JchmHX5afV" target="_blank" class="flex h-f32 w-f32 bg-black p-1 transition-colors duration-[0.3s] hover:bg-teal rounded">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -28.5 256 256"><path fill="currentColor" d="M216.856 16.597A208.502 208.502 0 0 0 164.042 0c-2.275 4.113-4.933 9.645-6.766 14.046-19.692-2.961-39.203-2.961-58.533 0-1.832-4.4-4.55-9.933-6.846-14.046a207.809 207.809 0 0 0-52.855 16.638C5.618 67.147-3.443 116.4 1.087 164.956c22.169 16.555 43.653 26.612 64.775 33.193A161.094 161.094 0 0 0 79.735 175.3a136.413 136.413 0 0 1-21.846-10.632 108.636 108.636 0 0 0 5.356-4.237c42.122 19.702 87.89 19.702 129.51 0a131.66 131.66 0 0 0 5.355 4.237 136.07 136.07 0 0 1-21.886 10.653c4.006 8.02 8.638 15.67 13.873 22.848 21.142-6.58 42.646-16.637 64.815-33.213 5.316-56.288-9.08-105.09-38.056-148.36ZM85.474 135.095c-12.645 0-23.015-11.805-23.015-26.18s10.149-26.2 23.015-26.2c12.867 0 23.236 11.804 23.015 26.2.02 14.375-10.148 26.18-23.015 26.18Zm85.051 0c-12.645 0-23.014-11.805-23.014-26.18s10.148-26.2 23.014-26.2c12.867 0 23.236 11.804 23.015 26.2 0 14.375-10.148 26.18-23.015 26.18Z"/></svg>
                </a>
              </div>
            </div>
        </footer>
        <!-- Custom Footer End -->

        {{#if live_reload_endpoint}}
        <!-- Livereload script (if served using the cli tool) -->
        <script>
            const wsProtocol = location.protocol === 'https:' ? 'wss:' : 'ws:';
            const wsAddress = wsProtocol + "//" + location.host + "/" + "{{{live_reload_endpoint}}}";
            const socket = new WebSocket(wsAddress);
            socket.onmessage = function (event) {
                if (event.data === "reload") {
                    socket.close();
                    location.reload();
                }
            };

            window.onbeforeunload = function() {
                socket.close();
            }
        </script>
        {{/if}}

        {{#if search_js}}
        <script src="{{ path_to_root }}elasticlunr.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ path_to_root }}mark.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ path_to_root }}searcher.js" type="text/javascript" charset="utf-8"></script>
        {{/if}}

        <script src="{{ path_to_root }}clipboard.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ path_to_root }}highlight.js" type="text/javascript" charset="utf-8"></script>
        <script src="{{ path_to_root }}book.js" type="text/javascript" charset="utf-8"></script>

        <!-- Custom JS scripts -->
        {{#each additional_js}}
        <script type="text/javascript" src="{{ ../path_to_root }}{{this}}"></script>
        {{/each}}

        {{#if is_print}}
        {{#if mathjax_support}}
        <script type="text/javascript">
        window.addEventListener('load', function() {
            MathJax.Hub.Register.StartupHook('End', function() {
                window.setTimeout(window.print, 100);
            });
        });
        </script>
        {{else}}
        <script type="text/javascript">
        window.addEventListener('load', function() {
            window.setTimeout(window.print, 100);
        });
        </script>
        {{/if}}
        {{/if}}

    </div>
    </body>
</html>
